body{
    margin: 0;
    background-color: #FFD1D1;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav{
    background-color: #9B0F06;
    padding: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover{
    color: #FFD1D1;
}

/* Title */
.title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 48px;
}

/* News Card */
.news-box{
    width: 950px;
    margin: 30px auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.news-box img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 5px;
}

.text{
    padding: 15px;
}

.text h3{
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.text h2{
    margin: 0 0 15px;
    font-size: 34px;
    color: #222;
}

.text p{
    font-size: 20px;
    line-height: 1.6;
    color: #444;
}

.text span{
    display: block;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    color: gray;
    font-size: 15px;
}